@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 37 40% 96%;
    --foreground: 37 5% 10%;
    --card: 37 40% 96%;
    --card-foreground: 37 5% 15%;
    --popover: 37 40% 96%;
    --popover-foreground: 37 95% 10%;
    --primary: 37 100% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 37 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: -1 30% 95%;
    --muted-foreground: 37 5% 40%;
    --accent: -1 30% 90%;
    --accent-foreground: 37 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 37 5% 96%;
    --border: 37 30% 82%;
    --input: 37 30% 50%;
    --ring: 37 100% 54%;
    --radius: 1rem;
  }
  .dark {
    --background: 37 10% 10%;
    --foreground: 37 3% 90%;
    --card: 37 3% 10%;
    --card-foreground: 37 3% 90%;
    --popover: 37 10% 5%;
    --popover-foreground: 37 3% 90%;
    --primary: 37 100% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 37 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -1 10% 25%;
    --muted-foreground: 37 3% 60%;
    --accent: -1 10% 25%;
    --accent-foreground: 37 3% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 37 3% 90%;
    --border: 37 20% 30%;
    --input: 37 20% 30%;
    --ring: 37 100% 54%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
