---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Soy Iván, un desarrollador de software fullstack de Tucumán, Argentina.
      <br />
      <br />
      Mis tecnologías favoritas son:
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>React</li>
        <li>NextJs</li>
        <li>Vite</li>
        <li>Astro</li>
        <li>Tailwind</li>
        <li>Shadcn</li>
        <li>Express</li>
        <li>NestJs</li>
        <li>Docker</li>
        <li>PrismaOrm</li>
        <li>Git</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Además de programar, me encanta relajarme viendo series y escuchando al
      grandioso Luis Miguel. También disfruto pasar tiempo con amigos, ya sea
      entrenando juntos en el gimnasio o simplemente charlando.
    </p>
  </div>
</Card>
