---
import { PROJECTS, PROJECTSTEXTS } from '../lib/constants'
import BaseLayout from '../layouts/BaseLayout.astro'
import TopLayout from '../layouts/TopLayout.astro'
import BottomLayout from '../layouts/BottomLayout.astro'
import ProjectCard from '../components/ProjectCard.astro'
---

<BaseLayout
  title="Portfolio"
  description="Projects and some clone's that I did"
>
  <main class="flex w-full min-h-[80vh] flex-auto flex-col" transition:animate="slide">
    <TopLayout>
      <h2 class="scroll-m-20 text-3xl font-semibold tracking-tight first:mt-0">
        {PROJECTSTEXTS.TITLE}
      </h2>
      <p
        class="mt-2 border-b pb-2 text-sm font-light tracking-tight text-muted-foreground"
      >
        {PROJECTSTEXTS.DESCRIPTION}
      </p>
    </TopLayout>
    <BottomLayout>
      <div class="flex w-full flex-wrap justify-center gap-4">
        {
          PROJECTS.map((project: any) => (
            <ProjectCard
              key={project?.id}
              {...project}
              class="w-full sm:w-2/5"
            />
          ))
        }
      </div>
    </BottomLayout>
  </main>
</BaseLayout>
