---
import Container from '../components/Container.astro'

type Props = {
  size?: 'sm' | 'md' | 'lg' | 'xl' | '2xl'
}

const { size } = Astro.props
---

<div class="flex-1 py-5">
  <Container size={size || 'md'}>
    <slot />
  </Container>
</div>
